/* App.css */

.container {
  max-width: 1000px;
  max-height: 80vh; /* Set maximum height to 80% of viewport height */
  overflow-y: auto; /* Add scrollbar when content exceeds container height */
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9ce;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

input,
textarea,
select {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f3f3f3;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #ffc107; /* Orange focus border color */
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5); /* Orange focus shadow */
}

select {
  appearance: none;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23555' width='18px' height='18px'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.note-buttons button.delete-btn {
  color: #da3613; /* Red for delete action */
}
.create-note button.create {
  padding: 12px 20px;
  background-image: linear-gradient(to right, #ffc107, #ff9800); /* Orange Gradient */
  color: #fff; /* White text for better contrast */
  border: none; /* Remove border as gradient provides definition */
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-note button.create:hover {
  background-image: linear-gradient(to right, #ff9800, #ff7000); /* Change gradient on hover for subtle effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}




/* Additional Styling */
.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #07c5ff, #009dff); /* Orange Gradient */
  border-radius: 10px;
  z-index: -1;
}

label,
input,
textarea,
select,
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-weight: bold;
  text-transform: uppercase;
}
