.notes-body{
    background-color: #f0f0f0; /* Example of a relative path */
        background-repeat: no-repeat;
    
  }
.container {
    
    max-width: 500px;
    margin: 0 auto;
    background-color: #8fb1a3b4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(28, 169, 148);
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a92e2e;
    border-color: rgb(85, 15, 15);
    border-radius: 5px;
    box-sizing: border-box;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-color: rgb(14, 14, 23);
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #22702a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2d4ddb;
}